name: edumination

services:
  mongo:
      image: mongo:latest
      container_name: edu_mongo
      restart: always
      ports:
        - "27017:27017"
      volumes:
        - ./db/mongo_data:/data/db
  mysql:
    image: mysql:8.0
    container_name: edu_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: english_learning
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - "3307:3306"
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password
      - --max_connections=400
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h 127.0.0.1 -u$$MYSQL_USER -p$$MYSQL_PASSWORD --silent",
        ]
      interval: 10s
      timeout: 5s
      retries: 10

  adminer:
    image: adminer:latest
    container_name: edu_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy

  backend:
    container_name: edu_backend
    build:
      context: ./Backend/src/Edumination.Api
      dockerfile: Dockerfile
    ports:
      - "8081:8080" # BE chạy trên localhost:8081
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://0.0.0.0:8080
      App__FrontendBaseUrl: "http://localhost:8082"
      ConnectionStrings__DefaultConnection: "server=100.127.114.108;port=3307;database=english_learning;user=appuser;password=apppass;Persist Security Info=False;SslMode=none"
      ConnectionStrings__MongoDbConnection: "mongodb://edu_mongo:27017"
      MongoDbSettings__DatabaseName: "english_learning_logs"
      MongoDbSettings__CollectionName: "reading_submissions"
      Jwt__Key: "H8w3v7gZ1rQm2Kp9TtB4xY6cV0nJ5uLfD3sA8pRq"
      Jwt__Issuer: "Edumination"
      Jwt__Audience: "Edumination"
      Smtp__Host: smtp.gmail.com
      Smtp__Port: 587
      Smtp__UseSsl: "true"
      Smtp__Username: eduminationielts@gmail.com
      Smtp__Password: psdsvbubflzlvfra
      Smtp__From: eduminationielts@gmail.com
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      AllowedHosts: "*"
      Stripe__SecretKey: ${STRIPE_SECRET_KEY}
      Stripe__WebhookSecret: ${STRIPE_WEBHOOK_SECRET}
    volumes:
      - ./uploads:/app/uploads
    env_file:
      - ./.env
    expose:
      - "8080"
    depends_on:
      mysql:
        condition: service_healthy
      mongo:  # Backend phải đợi Mongo chạy xong
        condition: service_started

  # Frontend Dev Mode (hot reload)
  frontend:
    container_name: edu_frontend
    build:
      context: ./Frontend
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8082:5173" # FE chạy trên localhost:8082
    volumes:
      - ./Frontend:/app # Mount code FE vào container
      - /app/node_modules # Giữ node_modules trong container
    environment:
      - CHOKIDAR_USEPOLLING=true # Hot reload trên Windows/macOS
      - NODE_ENV=development
    depends_on:
      - backend

  # Gateway chỉ dùng khi build production FE
  gateway:
    image: nginx:alpine
    container_name: edu_gateway
    ports:
      - "8085:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./Frontend/dist:/usr/share/nginx/html:ro
    depends_on:
      - backend

networks:
  default:
    name: edumination_net
