<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="IELTSConnection"
			 connectionString="Data Source=DESKTOP-JAF7HR3\SQLEXPRESS;Initial Catalog=IELTSLearning;User ID=sa;Password=Minhtu123@;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>