<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="IELTSConnection"
			 connectionString="Data Source=DESKTOP-8K3NF9N\SQLEXPRESS;
							 Initial Catalog=IELTSLearning;
							 Trusted_Connection=True;
							 TrustServerCertificate=True;
							 Connection Timeout=30;
							 MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>